*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

/* Basis for colour palette comes from 1bit Monitor Glow Palette by Polyducks */
/* https://lospec.com/palette-list/1bit-monitor-glow */

:root{
  --col-01:#40604c;
  --col-02:#bfb471;
  --col-03:#7b3557;
  --col-04:#C8EAD9;
  --col-05:#496E57;
  
}

body{
  background-color: var(--col-01);
  color: var(--col-02);
  padding: 2vw;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: 'Monoton', cursive;
  text-align: center;
  font-size: 8vw;
  
}
h3 {
  font-family: 'Mr Dafoe', cursive;
  text-align: center;
  font-size: 2vw;
}
h2 {
  text-align: center;
}

a {
  color: var(--col-04);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  
}
a:hover {
  color: var(--col-03);
  text-decoration: underline;
}

hr {
  margin-bottom: 2vh;
  margin-top: 1vh;
  color: var(--col-04);
}

.Filter {
  min-width: 20rem;
}

#list-filter-wrapper{
  column-width: 20rem;
  display: flex;
  justify-content: center;
}

.FilterCategoryWrapper{
  display: flex;
}

/* this is the filter category heading */
summary {
  font-size: 1.5rem;
  cursor: pointer;

}

.FilterSelector {
  font-size: 1.5rem;
  background-color: transparent;
  color: var(--col-02);
  border: none;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.FilterSelector:hover {
  color: var(--col-03);
}
.FilterSelector:active {
  color: var(--col-03);
}
.ActiveCategory {
  background-color: var(--col-02);
  color: var(--col-01); 
}


#recipe-list-wrapper{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  transition: background-color 0.1s linear;
  
}



.RecipeCardWrapper{
  height: 30rem;
  padding: 1rem;
  border: solid var(--col-02) 2px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  cursor:pointer;

  background-color: var(--col-05);

  border-radius: 20px;


}
/* .RecipeCardWrapper:hover{
  border: dotted var(--col-02) 2px;
  cursor: pointer;
} */
.RecipeImg{
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: filter 0.2s;
  border-radius: 20px;
}
.RecipeTitle{
  font-size: 2rem;

}
.RecipeAuthor{
  font-size: 1.5rem;
}


/* for screens over 768px wide */
@media all and (min-width: 768px) {
  
  hr {
    margin-bottom: 2vw;
  }

  #list-filter-wrapper{
    flex-direction: row;
  }

  .FilterSelector {
    text-align: unset;
    width: unset;
  }
  
    /* Only bother doing the hover on PC, on mobile there is way to hover */
  .RecipeImg{
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(50%);
    transition: filter 0.2s;
  }
  .RecipeImg:hover{
    filter: grayscale(0%);
  }
}
